server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/auth/**

            - id: bff-service
              uri: lb://bff-service
              predicates:
                - Path=/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

    service-url:
      defaultZone: http://admin:admin12345@localhost:8761/eureka

    healthcheck:
      enabled: true

management:
  endpoint:
    gateway:
      access: read_only

  endpoints:
    web:
      exposure:
        include: health, info, gateway